body {
    background-color: #bdbdbd;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-top: 50px;
}

img.product {
    position: relative;
    top: -5px;
    left: -5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.card {
    border-radius: 25px;
    width: 90%;
    max-width: 450px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #212121;
    background-color: #ffffff;
    color: #607d8b
}

.avi {
    color: #b2dfdb;
    background: #009688;
    padding-left: 15px;
    border-top: solid 15px #00796b;
    border-bottom: solid 15px #00796b;
    font-weight: bold;
}

h2 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 900;
    background-color: #009688;
    border-top: solid 25px #00796b;
    color: #ffffff;
    margin: 0;
    padding: 10px;
    text-align: center;
}

h3 {
    margin: 0;
    font-weight: bold;
    text-align: left;
}

p {
    font-weight: 500;
    margin: 0;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding-left: 15px;
    padding-right: 15px;
}

.sold-out {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 25px;
    left: -25px;
    z-index: 1;
}

.section1 {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.section2 p {
    padding: 0;
}

footer {
    font-style: italic;
}

@media (min-width: 769px) {
    .card {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 30%;
    }
}